body {
	font-family: Arial;
}

.orig_color {
	background-color: white;
}

.changed_color {
	background-color: blue;
}

.centered {
	text-align: center;
}

.row {
  display: flex;
}


img  {
 display: block;
}

.space{
  margin: 10px 0;
}

